<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
  <title>{{ page_title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}" type="text/css" />
  <meta name="description" content="{{ page_description }}"/>
    <!-- Facebok Open Graph: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:site_name" content="Simple Site"/>
    <meta property="og:type" content="Demo site for TailwindCSS and htmx"/>
    <meta property="og:title" content="Simple Site - Home"/>
    <meta property="og:description"  content="Look, ma! No JavaScript!"/>
    <meta property="og:url" content="https://wwww.example.com"/>
    <link rel="shortcut icon" sizes="180x180"href="{{url_for('static', path='favicon/apple-touch-icon.png')}}" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='favicon/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', path='favicon/android-chrome-192x192.png') }}">
</head>
<body>
    {% block content %} 
        _base html
    {% endblock %}
</body>
</html>