<header class="bg-zinc-400 text-slate-900 p-3">
    <div class="mx-auto flex flex-col justify-between items-center p">
        <nav class="flex flex-row self-start w-full py-2">
            <div id="links" class="flex flex-row items-center">
                <ul class="list-none flex flex-row">
                    <li class="mr-6"><a href="/">Home</a></li>
                    <li class="mr-6"><a href="/catalog">Catalog</a></li>
                    <li class="mr-6"><a href="/about">About</a></li>
                    <li class="mr-6"><a href="/catalog">Links</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>